services:
  ai-app:
    build: .
    env_file:
      - .env
    environment:
      - LLM_HOST=ollama-server
    networks:
      - ai-network
    volumes:
      - .:/app

networks:
  ai-network:
    external: true
    name: ai-network