services:
  ai-app:
    build: .
    env_file:
      - .env
    # Vi fjerner 'environment' herfra, så den KUN tager værdier fra din .env fil
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
